body
{
    background-color: #b3daff;
}
h1, h3
{
    color: #007599;
    text-align: center;
}
p
{
    font-family: verdana;
    font-size: 16px;
    text-align: center;
}
.menu
{
    background-color: #f8f8f8;
    display: inline-block;
    float:left;
    font-family: verdana;
    font-size: 14px;
    text-align: left;
    margin: 145px 25px 25px 25px;
}
.menu h2, h3
{
    color: #007599;
    text-align: center;
}

.menu ul li
{
    color: #007599;
    height: 30px;
    line-height: 20px;
    padding-left: 20px;
    list-style-type: none;
}
ul li:nth-child(odd)
{
    background-color: #dfdfdf;
}
ul li:nth-child(even)
{
    background-color: #eaeaea;
}
.register
{
    background-color: #e6f9ff;
    text-align: center;
    font-family: verdana;
    font-size: 16px;
    margin: 0px 30px 50px 25px;
}
.taskslist
{
    background-color: #f8f8f8;
    font-family: verdana;
    font-size: 14px;
    text-align: left;
    margin: 10px 25px 25px 25px;

}
table
{
    font-family: verdana;
    font-size: 16px;
    text-align: center;
    width: 50%;
    border: 1px;
}