<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
    <title>Edit user</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>

<nav th:include="menu :: _menu" class="navbar navbar-inverse"></nav>

<div th:if="${session.username != null}">

    <div class="container">

        <div class="row">

            <div class="col-sm-6 col-md-4 col-md-offset-4">

                <form th:action="@{/editUser}" method="post" th:object="${user}">
                    <h2>Change user data</h2>
                    <input type="hidden" name="userId" th:field="*{id}">
                    <div class="form-group">
                        <label for="InputUsername">Username</label>
                        <input type="text" class="form-control" id="InputUsername" placeholder="Enter username"
                               name="username" th:field="*{username}" required>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Email address</label>
                        <input type="email" class="form-control" id="InputEmail" placeholder="Enter email" name="email"
                               th:field="*{email}" required>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Password</label>
                        <input type="password" class="form-control" id="InputPassword" placeholder="Password"
                               th:field="*{password}" required>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    </div>
                    <div class="form-group">
                        <label for="InputRepeatedPassword">Repeat password</label>
                        <input type="password" class="form-control" id="InputRepeatedPassword"
                               placeholder="Repeat password" th:field="*{repeatedPassword}" required>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}">
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Save</button>
                </form>

            </div>

        </div>
    </div>

</div>

<footer th:include="footer :: _footer" class="footer"></footer>

</body>
</html>