<html xmlns:th="http://www.thymeleaf.org" lang="PL">
<head>
    <title>Edit task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:include="menu :: _menu" class="navbar navbar-inverse"></nav>

<div class="container">

    <div class="row">

        <div class="col-sm-6 col-md-4 col-md-offset-4">

            <form action="editTask" method="post">
                <h2>Edit task</h2>
                <input type="hidden" name="task_id" value="${requestScope.id}"/>">
                <div class="form-group">
                    <label for="InputTitle">Title</label>
                    <input type="text" class="form-control" id="InputTitle" placeholder="Enter title" name="title"
                           value=${requestScope.title}"/>">
                </div>
                <div class="form-group">
                    <label for="InputDate">Date</label>
                    <input type="date" class="form-control" id="InputDate" name="taskdate"
                           value="${requestScope.date}"/>">
                </div>
                <div class="form-group">
                    <label for="InputDescription">Description</label>
                    <textarea class="form-control" rows="5" id="InputDescription" name="description" wrap="hard"
                              maxlength="150" placeholder="Description task... (max 150 signs)" th:text="${description}"></textarea>
                </div>
                <input type="radio" name="checktask" value="true" th:if="${done == true}" checked
                >Done
                <br>
                <input type="radio" name="checktask" value="false" th:if="${done == false}" checked
                >Undone
                <br><br>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>

        </div>

    </div>
</div>

<footer th:include="footer :: _footer" class="footer"></footer>

</body>
</html>