<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
<head>
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../WEB-INF/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>

<nav th:include="menu :: _menu" class="navbar navbar-inverse"></nav>

<div class="container">
    <h3>Simple ToDo App</h3>
    <p>You can store tasks on this website.
    <p>Create new task, display it, and manage. Check for done, delete old task. </p>
</div>

<footer th:include="footer :: _footer" class="footer" ></footer>

</body>
</html>